@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', sans-serif, helvetica;
}

html, body {
  // background-color: #70B9B0;
  height: 100%;
}

// Bootstrap overrides

.navbar {
  background-color: #70B9B0;
  opacity: 0.90;
  .sidebar-toggle {
    font-size: 150% !important;
    padding: 15px;
    cursor: pointer;
  }
}

pre, .btn {
  border-radius: 0;
}

pre {
  background-color: #fff;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 0px;
  box-shadow: none;
  // border-color:
  padding-left: 0px;
  margin: 0px;
  .panel-heading {
    border-radius: 0px;
  }
  .panel-footer {
    background-color: #fff;
    border-radius: 0px;
  }
}

// END Bootstrap overrides


// Mutio

.logo {
  h1 {
    color: #fff;
    margin-top: 5px;
  }
}

.page-wrapper {
  padding-top: 55px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 60px;


  // Sidebar
  .mutio-sidebar {
    padding-right: 0px;
    .panel {
      background-color: #F5FFFA;
      .panel-footer {
        padding: 0px;
        width: 100%;
        border: none;
        background-color: #F5FFFA;
        .btn-group {
          width: 100%;
          height: 50px;
          margin: 0px;
          padding: 5px;
          button {
            width: 50%;
            height: 100%;
            padding: 0px;
            margin: 0px;
          }
        }
      }
    }
  }

  // Preview (main content)
  .mutio-preview {
    padding-left: 0px;
  }

}

.file_area {
  // text-align: center;
}

#input_file {
  padding: 55px;
  border: 1px dashed #aaa;
  width: 100%;
  margin-bottom: 20px;
}

#config {

}

#count {
  font-weight: bold;
}

#download {
  height: 100%;
}

.panel-success-light {
  .panel-heading {
    background-color: #F5FFFA;
  }

}

// Footer
.sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #70B9B0;
  opacity: 0.90;

  .btn-group {
    height: 100%;
    padding: 10px;
  }

}



