body {
  font-family: helvetica;
  padding: 20px;
}
.file_area {
  text-align: center;
}
#input_file {
  padding: 20px;
  border: 4px dotted #aaa;
  width: 100%;
  margin-bottom: 20px;
}
#count {
  font-weight: bold;
}