<!DOCTYPE html>
<html lang='en' ng-app>
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no' charset="UTF-8">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Styles -->
  <link rel='stylesheet/less' type='text/css' href='css/styles.css.less'/>


  <!-- JS Libs -->
  <script language='javascript' type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script language='javascript' type='text/javascript' src='lib/less.min.js'></script>
  <!-- Latest compiled and minified Bootstrap JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script language='javascript' type='text/javascript' src="lib/require.js"></script>
  <script language='javascript' type='text/javascript' src="lib/angular.min.js"></script>
  <script language='javascript' type='text/javascript' src="lib/jquery.parse.min.js"></script>
  <script language='javascript' type='text/javascript' src="lib/FileSaver.js"></script>
  <script language='javascript' type='text/javascript' src="script.js"></script>

  <!-- App JS -->
  <script language='javascript' type='text/javascript' src="app/MutioCtrl.js"></script>

  <title>mut.io</title>
</head>

<body>
<div class="navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation">
    <div class="container logo">
      <h1>mut.io</h1>
    </div>
  </div>
  <div id='page-wrapper' class='container' ng-controller='MutioCtrl' ng-init="init()">

    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <h4 class="panel-title">Setup</h4>
          </div>
          <div class="col-md-4">
          <span class="glyphicon glyphicon-info-sign pull-right"></span>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class='col-md-4 file_area'>
            <p>Drop CSV below to generate counts</p>
            <input type='file' id="input_file" onchange="angular.element(this).scope().fileChanged(this)" />
          </div>
          <div class='col-md-8'>
            <p>Configuration</p>
            <textarea class="form-control" rows="6"></textarea>
          </div>
        </div>

      </div>
      <div class="panel-footer">
        <div class="row">
          <div class='col-md-8'>
            <pre class="bg-default" id='count'>No files loaded.</pre>

          </div>
          <div class='col-md-4'>
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> Preview</button>
              <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-refresh"> Reset</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <h4 class="panel-title">Preview</h4>
          </div>
          <div class="col-md-4">
            <span class="glyphicon glyphicon-fullscreen pull-right"></span>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <caption>Original Data</caption>
            <table class="table table-striped table-hover table-responsive">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Column1</th>
                  <th>Column2</th>
                  <th>Column3</th>
                  <th>Column4</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td> <td>2</td> <td>3</td><td>4</td><td>5</td>
                </tr>
                <tr>
                  <td>1</td> <td>2</td> <td>3</td><td>4</td><td>5</td>
                </tr>
                <tr>
                  <td>1</td> <td>2</td> <td>3</td><td>4</td><td>5</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-md-12">
            <caption>Modified Data</caption>
            <table class="table table-striped table-hover table-responsive">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Column1</th>
                  <th>Column2</th>
                  <th>Column3</th>
                  <th>Column4</th>
                  <th>Column5</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td> <td>2</td> <td>3</td><td>4</td><td>5</td><td>6</td>
                </tr>
                <tr>
                  <td>1</td> <td>2</td> <td>3</td><td>4</td><td>5</td><td>6</td>
                </tr>
                <tr>
                  <td>1</td> <td>2</td> <td>3</td><td>4</td><td>5</td><td>6</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Export</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <div ng-repeat="i in output">
              <!-- <DISPLAY OUTPUTS HERE> -->
              <button type="button" id='download' class="btn btn-primary btn-sm pull-left" ng-click="download()">Download All</button>
            </div>
            <div class="btn-group" id='tooltip' data-toggle="tooltip" data-placement="top" title="Click to download">
              <button type="button" id='download' class="btn btn-default btn-sm pull-left" ng-click="download()">This is my custom output</button>
              <button type="button" id='download' class="btn btn-default btn-sm pull-left" ng-click="download()">Chuck's family</button>
              <button type="button" id='download' class="btn btn-default btn-sm pull-left" ng-click="download()">Another download</button>
              <button type="button" id='download' class="btn btn-default btn-sm pull-left" ng-click="download()">Angular download</button>
            </div>
          </div>
          <div class="col-md-6">
            <button type="button" id='download' class="btn btn-primary pull-right" ng-click="download()"><span class="glyphicon glyphicon-cloud-download"></span> Download All</button>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- END Container  -->


</body>

</html>
